*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(18, 19, 15);
    color: wheat;
    text-align: center;
}
h1{
    font-size: 3rem;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(18, 19, 15);
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 60%;
    width: 30%;
    background-color: rgb(187, 216, 179);
    padding: 30px;
    border: 3px solid rgb(126, 82, 160);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(126, 82, 160);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.btn{
    height: 90px;
    width: 90px;
    border-radius: 6px;
    background-color: rgba(243, 182, 31,0.9);
    box-shadow: 0 0 1rem red;
    border: none;
    color: #c43b29;
    font-size: 2rem;
}

.btn2{
    color: blue;
}
.reset-btn{
    height: 10%;
    width: 13%;
    margin: 30px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid rgba(243, 144, 31, 0.9);
}

.winner{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.hide{
    display: none;
}

.new-btn{
    height: 10%;
    width: 13%;
    margin: 30px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid rgba(243, 144, 31, 0.9);
}

@media (max-width: 520px) {
    .wrapper{
        width: 60vw;
        height: 70vh;
        /* background-color: red; */
        gap: 0;
    }
    .btn{
        justify-content: space-evenly;
        height: 26%;
        width: 26%;
    }
    .reset-btn{
        padding: 5px;
        font-size: 60%;
    }
}

